.linkStyle{
    padding: 10px;
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;

    &:hover{
        background-color: #bbd0ff;
        border-radius: 40px;
    }

    &:active{
        color: #ffffff;
    }
}

.navContainer{
    background-color: #b8c0ff;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.layout{
    width: 90%;
    margin: 10px auto;
}