@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Hind Siliguri', sans-serif;
    height: 100vh   ;
    width: 100%;
    background: linear-gradient(to top, #ade8f4,#ade8f4);

}